@tailwind base;
@tailwind components;
@tailwind utilities;




.custom-scrollbar::-webkit-scrollbar{
    margin-left: 1px;
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(200, 199, 199, 0.859);
    
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(168, 168, 168);
}